<h1>Information about of Repository</h1>

<section class="search-results">
    <p><b>ID of repository:</b>&nbsp;{{repId}}</p>
    <p><b>Name of repository:</b>&nbsp;&nbsp;{{repName}}</p>
    <p><b>Short description:</b>&nbsp;{{repDescription}}</p>
    <h3>Information about of license</h3>
    <p><b>Name of license:</b>&nbsp;&nbsp;{{licenseName}}</p>
    <p><b>URL of license:</b>&nbsp;&nbsp;{{licenseUrl}}</p>
    <p><b>Node id of license:</b>&nbsp;&nbsp;{{licenseNodeId}}</p>
    <p><b>Spdx id of license:</b>&nbsp;&nbsp;{{licenseSpdxId}}</p>
    <h3>Information about of owner</h3>
    <p><b>Name (login) of authur:</b>&nbsp;&nbsp;{{ownerLogin}}</p>
    <img src="{{imageSrc}}" alt="{{imageAlt}}" />
</section>