<h1>Information about of Repository</h1>

<section class="search-results">
    <p><b>ID repository:</b>&nbsp;{{repId}}</p>
    <p><b>Name repository:</b>&nbsp;&nbsp;{{repName}}</p>
    <p><b>Shot description:</b>&nbsp;{{repDescription}}</p>
    <h3>Information about of license</h3>
    <p><b>Name license:</b>&nbsp;&nbsp;{{licenseName}}</p>
    <p><b>URL license:</b>&nbsp;&nbsp;{{licenseUrl}}</p>
    <p><b>Node id license:</b>&nbsp;&nbsp;{{licenseNodeId}}</p>
    <p><b>Spdx id license:</b>&nbsp;&nbsp;{{licenseSpdxId}}</p>
    <h3>Information about of owner</h3>
    <p><b>Name (login):</b>&nbsp;&nbsp;{{ownerLogin}}</p>
    <img src="{{imageSrc}}" alt="{{imageAlt}}" />
</section>